<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<system.diagnostics>
		<sources>
			<source name="System.Security.Cryptography.Xml.SignedXml" switchName="XmlSignLogSwitch">
				<listeners>
					<!--<add name="XmlSignlogFile" />-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="XmlSignLogSwitch" value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="XmlSignlogFile" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime"
				 initializeData="C:\logs\Demo.XmlSign.CLI.log" />
		</sharedListeners>
		<trace autoflush="true">
			<listeners>
				<!--<add name="XmlSignlogFile" />-->
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
